* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
}
#navbar {
    margin-right: 30px;
    border: 1px solid rgb(236, 236, 236);
    padding: 10px;
    color: white;
}
a {
    text-decoration: none;
    line-height: 60px;
    color: white;
}
span {
    font-family: 'Unica One', cursive;
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    color: rgb(90, 90, 90);
    border: 1px solid rgb(71, 113, 126);
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.7s;
}
span:hover {
    cursor: pointer;
    transform: scale(0.9);
}
header.nav-main {
    font-family: 'Vollkorn', serif;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(98, 180, 129);
}
p,li {
    font-family: 'Unica One', cursive;
    color: rgb(51, 51, 51);
}
li {
    list-style-type: none;
}
header {
    font-family: 'Vollkorn', serif;
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(165, 49, 49);
    margin-top: 20px;
}
header.intro {
    margin-top: 70px;
    margin-bottom: 18px;
}
code {
    display: block;
    color: rgb(63, 63, 63);
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    width: 60%;
    background-color: rgb(201, 201, 201);
}
a.mdn {
    font-size: 1.3em;
    color: rgb(34, 120, 177);
}
div{
    text-align: center;
    font-size: 1.3em;
    color: #418b41;
    margin-top: 20px;
    margin-bottom: 20px;
}
a.top {
    text-decoration: none;
}

@media only screen and (max-width: 750px) {
    html {
        margin: 10px;
    }
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
    #nav-bar {
        align-self: center;
        overflow: hidden;
    }
}
@media only screen and (min-width: 700px) {
    p {
    font-size: 1.2em;
    margin-right: 10px;
}
}
